body {
  margin: 0;
  background: #FCF7F8;
}

.about-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.about-first-page {
  flex: 1;
  padding: 1.5rem 2rem;
  max-width: 1083px;
  margin: 0 auto;
}

.about-second-page {
  flex: 1;
  padding: 3rem 2rem;
  max-width: 1083px;
  margin: 0 auto;
}

.about-third-page {
  flex: 1;
  padding: 3rem 2rem;
  max-width: 1083px;
  margin: 0 auto;
}

.about-title {
  color: #000;
  font-family: var(--font-title);
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-titles {
  color: #000;
  font-family: var(--font-title);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.about-subtitle {
  color: #000;
  text-align: justify;
  font-family: var(--font-description);
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.about-text {
  color: #000;
  text-align: justify;
  font-family: var(--font-description);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1083px;
  height: auto;
  gap: 2rem;
}

.logo-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.kemenkes-icon {
  width: 617px;
  height: 162px;
  margin-bottom: 2rem;
}

.bpom-icon {
  width: 617px;
  height: 185px;
}

.hermina-icon {
  width: 371px;
  height: 371px;
}