body {
  margin: 0;
  background: #FCF7F8;
}

.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about-first-page {
  flex: 1;
  padding: 1.5rem 2rem;
  width: 1083px;
  height: 399px;
  margin: 0 auto;
}

.about-title {
  color: #000;
  font-family: var(--font-title);
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-text {
  color: #000;
  text-align: justify;
  font-family: var(--font-description);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

body {
  margin: 0;
  background: #FCF7F8;
}

.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about-first-page {
  flex: 1;
  padding: 1.5rem 2rem;
  width: 1083px;
  height: 399px;
  margin: 0 auto;
}

.about-title {
  color: #000;
  font-family: var(--font-title);
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-text {
  color: #000;
  text-align: justify;
  font-family: var(--font-description);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

