@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Lato&family=Roboto&display=swap');
@import "tailwindcss";

@theme {
  --color-base: #FCF7F8;
  --color-mint: #9EEEDA;
  --color-green-pale: #B0F2B4;
  --color-aqua: #BAF2E9;
  --color-blue-soft: #BAD7F2;
  --color-pink-soft: #F2BAC9;
  --color-beige: #F2E2BA;

  --font-title: 'Lalezar', cursive;
  --font-header: 'Lato', sans-serif;
  --font-description: 'Roboto', sans-serif;

  --background: var(--color-base);
  --foreground: #171717;

  --shadow-custom: '0px 4px 4px 0px rgba(0, 0, 0, 0.25)';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--foreground);
  font-family: var(--font-roboto, Arial, sans-serif);
}
